<!-- Modal -->
<div class="modal fade" id="userpasswordModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change
                    Personal Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control border-dark"
                            id="floatingInput" placeholder="Password"
                            name="old_password"
                            [(ngModel)]="password.old_password">
                        <label for="floatingInput">Old Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control border-dark"
                            id="floatingPassword" placeholder="Password"
                            name="new_password"
                            [(ngModel)]="password.new_password">
                        <label for="floatingPassword">New Password</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark"
                    (click)="changepassword()" data-bs-dismiss="modal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>