<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-12 mt-5 mx-auto card p-4">
            <div class="form-floating">
                <input type="password" class="form-control border-dark"
                    id="floatingPassword"
                    placeholder="Password"
                    [(ngModel)]="password">
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <div class="form-floating mb-3">
                <input type="text" class="form-control border-dark"
                    id="floatingInput"
                    placeholder="name@example.com"
                    [(ngModel)]="confirmpassword">
                <label for="floatingInput">Confirm Password</label>
            </div>
            <br>
            <button class="btn btn-outline-dark" (click)="reset()">Submit</button>
        </div>
    </div>
</div>